---
kind: ConfigMap
apiVersion: v1
metadata:
  name: devoxx-dashboard-{{ item }}
  namespace: monitoring
  labels:
    grafana_dashboard: "1"
data:
  {{ item }}.json: |-
    {{ lookup('file', 'json/' + item + '.json')|from_yaml|to_json }}
